# Compiled data files/scores
*.raw

# Save files
/lib/save/*
/lib/save/*.html

# User data
/lib/user/*
/lib/save/*.html
/lib/user/*.txt

# Base Heng ini file
hengband.ini

# Builds
*.exe

# Archives
*.zip